@use "./breakpoints.scss" as breakpoints;

.mask {
    pointer-events: none;
    backdrop-filter: blur(0.5rem);
    background: linear-gradient(to bottom, var(--page-background), var(--static-transparent));
    mask-image: linear-gradient(rgba(0,0,0) 25%, rgba(0, 0, 0, 0) 100%);
    mask-size: 100% 100%;
}

.desktopOnly {
    display: flex;

    @include breakpoints.s {
        display: none !important;
    }
}

.mobileOnly {
    display: none !important;

    @include breakpoints.s {
        display: flex !important;
    }
}

.mobileBar {
    bottom: var(--static-space-24);
}

.mobileOverlay {
    animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
